mixin section_4()
    .work(id="work")
        .work__container
            section.work1
                .work1__title
                    +title('how we work')
                .work1__content
                    .work1__item1
                        .item1__1
                            img(src='/img/work_01.png')
                        p.item1__2
                            span Lorem ipsum dolor sit
                            br
                            | amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .work1__item1
                        .item1__1
                            img(src='/img/work_02.png')
                        p.item1__2
                            span Lorem ipsum dolor sit
                            br
                            | amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .work1__item1
                        .item1__1
                            img(src='/img/work_03.png')
                        p.item1__2
                            span Lorem ipsum dolor sit
                            br
                            | amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .work1__item1
                        .item1__1
                            img(src='/img/work_04.png')
                        p.item1__2
                            span Lorem ipsum dolor sit
                            br
                            | amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    .travel__block
        img.travel__map(src='/img/background/map-3.png')
        img.travel__bg(src='/img/background/bg-2.png')
        .travel__container
            section.travel
                .travel__title
                    +title('travel with as')
                .travel__content
                    -
                        var items= [
                        {"id": 1,"stars": 4, "header":"Carpatian", "text":"Lorem ipsum dolor si amet, consectetur ","old_price":"1150$","price":"$793"},
                        {"id": 2,"stars": 5, "header":"Alps", "text":"Lorem ipsum dolor si amet, consectetur ","old_price":"2150$","price":"$1893"},
                        {"id": 3,"stars": 5, "header":"Pyrenees", "text":"Lorem ipsum dolor si amet, consectetur ","old_price":"3300$","price":"2593"},
                        {"id": 4,"stars": 5, "header":"Rocky", "text":"Lorem ipsum dolor si amet, consectetur ","old_price":"3150$","price":"$2123"},
                        {"id": 5,"stars": 3, "header":"Kavkaz", "text":"Lorem ipsum dolor si amet, consectetur ","old_price":"950$","price":"$593"}]
                    each item in items
                        .travel__item
                            img.travel__item__img(src='/img/travel-' + item.id + '.png')
                            - for (var x = 0; x < item.stars; x++)
                                i.travel__item__stars.fa.fa-star
                            p.travel__item__header= item.header
                            p.travel__item__text= item.text
                            p.travel__item__old_price= item.old_price
                            p.travel__item__price= item.price
