mixin section_5()
    .gallery_block(id="journal")
        .gallery__container
            section.gallery
                .gallery__title
                    +title('gallery')
                .gallery__content
                    .row1
                        img.gallery__img(src='/img/photo-5.png')
                        img.gallery__img(src='/img/photo-4.png')
                    .row2
                        img.gallery__img(src='/img/photo-2.png')
                        img.gallery__img(src='/img/photo-3.png')
                    .row3
                        img.gallery__img(src='/img/photo-1.png')
                        img.gallery__img(src='/img/photo-6.png')
    .social
        .social__container
            .social__content
                img.social__img(src='/img/icons/icon5.png')
                img.social__img(src='/img/icons/icon1.png')
                img.social__img(src='/img/icons/icon2.png')
                img.social__img(src='/img/icons/icon3.png')
                img.social__img(src='/img/icons/icon4.png')
                img.social__img(src='/img/icons/icon6.png')