mixin section_2()
    section.journal(id="servises")
        .journal__container
            .journal__title
                +title("our journal")
            .journal__content
                .journal__img
                    img.journal__icon(src="/img/icons/heart.png")
                    img.journal__image(src="/img/journal_1.png")
                .journal__img
                    .journal__img__item
                        .triangle_left
                        span.journal__img__span LOVE
                        p.journal__img__p1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        p.journal__img__p2 You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
                        p.journal__img__p3 01
                .journal__img
                    img.journal__icon(src="/img/icons/water.png")
                    img.journal__image(src="/img/journal_2.png")
                .journal__img
                    .journal__img__item
                        .triangle_right
                        span.journal__img__span TREE
                        p.journal__img__p1 Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        p.journal__img__p2 The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
                        p.journal__img__p3 02
                .journal__img
                    img.journal__icon(src="/img/icons/leaves.png")
                    img.journal__image(src="/img/journal_3.png")
                .journal__img
                    .journal__img__item
                        .triangle_top
                        span.journal__img__span LOVE
                        p.journal__img__p1 LITTLE PIECES OF OUR PROUDNESS
                        p.journal__img__p2 What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
                        p.journal__img__p3 03